//-index.pug
doctype
html(lang="es")
	head
		meta(charset="utf-8")
		title= 'El super nombre >AQUÍ<'
		meta(name="description" content="Esta sera la pagina web que funcionara como portafolio")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		|
		|
		link(rel="icon" href="img/icon.svg")
		|
		|
		link(rel="stylesheet" href="css/normalize.css")
		link(rel="stylesheet" href="css/main.css")
	body
		header.web-header
			.web-header--ancho
				//-.web-header__contenedor__logo-titulo
					//-.web-header__contenedor__logo
						a(href="index.html")
							img(src="img/icon.svg", alt="logo").logo
				.web-header__contenedor__titulo
					p
						a(href="index.html").web-header__titulo LOGO 17
				block header
				
				|
				|

				nav.web-header__nav
					ul.nav__list
						-var paginas = ["Acerca de","Proyectos","Blog","Contacto"]
						//- Iterando sobre el contenido de paginas.
						each posicion in paginas
							li.nav__item
								a(href=posicion + ".html").nav__item__link= posicion 
		|
		|

		div.slider
			block slider
				
		|
		|

		main
			block main
		
		|
		|
		footer
			block footer