
html {
	box-sizing: border-box;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin:  0;
	padding: 0;		
}

body {
	background-image: url('../img/b1.png');
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
}

.wrapper {
	-moz-transition: -moz-filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
    -webkit-transition: -webkit-filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
    -ms-transition: -ms-filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
    transition: filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
    padding-top: 3.25em;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	height: 3.25em;
	width: 100%;
	z-index: 10000;
	margin: 0;
	display: flex;
	justify-content: center;
	font-weight: 600;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	/*background-color: #2a2f4a;*/
	background-color: transparent;
}

.header__content {
	width: 90%;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
	width: 55%;
	text-decoration:none;
	color: #fff;
	/*background-color: steelblue;*/
}

.header .header__logo strong { 
	display: inline-block;
	margin-right: 0.325em;
	padding-right: 0.125em;
	padding-left: 0.375em;
	font-weight: 600;
	color: #242943;
	background-color: #fff;
}

.header__nav {
	width: 45%;
	/*background-color: gold;*/
}

.header__list {
	margin-top:    0;
	margin-bottom: 0;
	padding-left:  0;
	list-style:    none;
	display: flex;
}

.header__item {
	margin-right: 3em;
}

.header__item:nth-child(3) {
	margin-right: 0;
}

.header__link { 
	text-decoration:none;
	color: #fff;
}

/* Banner */
.banner {
    height: 100vh;
    min-height: 30em;
    max-height: 50em;
    padding: 6em 0 2em 0;
    position: relative;
    top: -3.25em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../img/photo-22.jpeg');
	background-position: center 0px;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__content {
	width: 100%;
	min-width: 20em;
	display: flex;
	justify-content: center;
	color: #fff;
	/*background-color: rgba(0,0,0,0.4);*/
}

.banner__center {
	width: 90%;
	height: 100%;
	/*background-color: steelblue;*/
}

article {
	width: 45%;
	float: right;
	line-height: 1.5em;
}

.banner__content h1 {
	font-size: 2.5em;
	text-transform: uppercase;
	line-height: 1.5em;
}

.banner__content h1:after {
	content: '';
    background-color: #ffffff;
    display: block;
    height: 2px;
    margin-top: 0.325em;
    margin-bottom: 0.8em;
    width: 100%;
}

.caja {
	width: 100%;
    height: 80vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
}
.caja__hija {
	width: 90%;
	height: 4em;
	background-color: #555;
}

/* 320px */
@media (min-width : 20em) { 

}

/* 480px */
@media (min-width : 30em) { 
	
}

/* Landscape phones and down - 600px */
@media (min-width : 37.5em) { 
	
}

/* Portrait tablet to landscape and desktop - 768px */
@media (min-width: 48em) { 
	
}

/* Large desktop - 1024px */
@media (min-width: 64em) { 
	
}

/* 1200px */
@media (min-width: 75em) { 
	
}
