@font-face {
    font-family: 'Gilroy Extra Bold';
    src: url('../fonts/gilroy-extrabold.woff2') format('woff2'),
         url('../fonts/gilroy-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gilroy Light';
    src: url('../fonts/gilroy-light.woff2') format('woff2'),
         url('../fonts/gilroy-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
	box-sizing: border-box;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin:  0;
	padding: 0;		
}

body {
	
}

ul {
	margin-top:    0;
	margin-bottom: 0;
	padding-left:  0;
	list-style:    none;
	display: flex;
}


/* Banner */
.header {
	width: 100%;
    height: 100vh;
    min-height: 30em;
    max-height: 50em;
    padding-top: 2.5em;
	font-weight: 600;
	letter-spacing: 0.25em;
	text-transform: uppercase;
    background-image:radial-gradient(ellipse at bottom, rgba(2, 94, 131, 0.23) 0%, #242943 100%),
    	url('../img/photo-22.jpeg');
	background-position: center 0px;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.header__content {
	width: 100%;
	height: 100%;
     /* Display */
    display: grid;
    grid-template-columns: 50% 41%;
	grid-template-rows: repeat(2, 32%);
	grid-gap: 4px;
	justify-content: center;
	align-content: start;	
    /*background-color: rgba(255, 99, 71, 0.5);*/
}

.header__one {
	grid-column:1/2;
	grid-row:1/2;
}

.header__two {
	grid-column:2/3;
	grid-row:1/2;
}

.header__three {
	grid-column:1/2;
	grid-row:2/3;
}

.header__four {
	grid-column:2/3;
	grid-row:2/3;
}

/* Contenedor 1/1 */
.header__logo {
	text-decoration:none;
	color: inherit;
	/*background-color: steelblue;*/
}

	.header__logo strong { 
		display: inline-block;
		margin-right: 0.325em;
		padding-right: 0.125em;
		padding-left: 0.375em;
		font-weight: 600;
		color: #242943;
		background-color: #fff;
	}

/*.header__list {
	margin-top:    0;
	margin-bottom: 0;
	padding-left:  0;
	list-style:    none;
	display: flex;
}*/

.header__item {
	margin-right: 3em;
}

.header__item:nth-child(3) {
	margin-right: 0;
}

.header__link { 
	text-decoration:none;
	color: #fff;
}

.header__about {
	font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
}

.header__about h1,
.services__header h2 {
	font-size: 2.5em;
	text-transform: uppercase;
	line-height: 1.5em;
}

.header__about h1:after,
.services__header h2:after {
	content: '';
    background-color: #ffffff;
    display: block;
    height: 2px;
    margin-top: 0.325em;
    margin-bottom: 0.8em;
    width: 100%;
}

article {
	line-height: 1.5em;
}

/*section:nth-child(odd) {
	background-color: rgba(70, 130, 180, 0.52);
}

section:nth-child(even) {
	background-color: rgba(255, 215, 0, 0.62);
}*/


/* Section two */

	.services,
	.advantages {
		width: 100%;
		height: auto;
		min-height: 400px;
		position: relative;
		z-index: 10;
		font-family: 'Gilroy Light';
		color: #fff;
		background-color: #232526;
		background-image: url('../img/131242065.jpg');
		background-position: center 0px;
		background-attachment: fixed;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

		.services__bg {
			width: 100%;
			height: 100%;
			min-height: 400px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			background: radial-gradient(rgba(65, 67, 69) 0%, #232526 100%);
			background: -webkit-radial-gradient(
				 center, circle cover, rgba(35, 37, 38, 0.89) 0%, rgb(35, 37, 38) 100%);
		}

		.services__inner {
			max-width: 980px;
			min-height: 350px;
			margin: 0 auto;
			padding-top: 3em;
			position: relative;
			z-index: 10000;
		}

		.services article {
			width: 70%;
			/*max-width: 980px;
			margin: 0 auto;*/
			padding-top: 1em;
			padding-bottom: 2em;
			padding-left: 3em;
			font-size: 1.155em;
			/*line-height: 1.5em;*/
		}

		.services__header h2,
		.advantages__title h2 {
			font-size: 1.8em;
			font-family: 'Gilroy Extra Bold';
			text-transform: none;
		}

	@media screen and (max-width: 980px) {

		/*.services__inner {
			padding-left: 3em;
		}*/
	}

/* Tiles */

	.work {
		display: flex;
		flex-wrap: wrap;
	}

	.work article {
		width: 40%;
		height: 40vh;
	    max-height: 40em;
	    min-height: 23em;
	    border: 1px solid black;
	}

		.work article:nth-child(4n - 1), .work article:nth-child(4n - 2) {
				width: 60%;
			}

			.work article:nth-child(6n - 5),
			.advantages article:nth-child(6n - 5) {
				background-color: #6fc3df;
			}

			.work article:nth-child(6n - 4),
			.advantages article:nth-child(6n - 4) {
				background-color: #8d82c4;
			}

			.work article:nth-child(6n - 3),
			.advantages article:nth-child(6n - 3) {
				background-color: #ec8d81;
			}

			.work article:nth-child(6n - 2),
			.advantages article:nth-child(6n - 2) {
				background-color: #e7b788;
			}

			.work article:nth-child(6n - 1),
			.advantages article:nth-child(6n - 1) {
				background-color: #8ea9e8;
			}

			.work article:nth-child(6n),
			.advantages article:nth-child(6n) {
				background-color: #87c5a4;
			}

	@media screen and (max-width: 1280px) {

			.work article {
				padding: 4em 3em 2em 3em ;
				height: 30vh;
				max-height: 30em;
				min-height: 20em;
			}

		}

		@media screen and (max-width: 980px) {

			.work article {
				width: 50% !important;
			}

		}

		@media screen and (max-width: 736px) {

			.work article {
				padding: 3em 1.5em 1em 1.5em ;
				height: 16em;
				max-height: none;
				min-height: 0;
			}

				.work article h3 {
					font-size: 1.5em;
				}

		}

		@media screen and (max-width: 480px) {

			.work {
				display: block;
			}

				.work article {
					height: 20em;
					width: 100% !important;
				}

		}


.caja {
	width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;

    background: #0ecde9; /* For older browsers that may not support gradients */
  background: -webkit-radial-gradient(center, ellipse cover, #0ecde9 0%, #025e83 100%);
  background: radial-gradient(#0ecde9, #025e83);
}
.caja__hija {
	width: 90%;
	height: 4em;
	background-color: #555;
}

/* Advantages */
	.advantages {
		background-color: #EA9;
		/*background-image: url('../img/113309237.jpg');*/
	}
		.advantages .services__bg {
			background-color: #444;
		}
		
		.advantages .inner,
		.contact .inner {
			max-width: 980px;
			min-height: 400px;
			margin: 0 auto;
			/*padding: 3em 0 1em;*/
			position: relative;
			z-index: 10000;
			/* Display */
			display: flex;
			flex-wrap: wrap;
			/*background-color: #EA99FB;*/
		}

		.advantages .inner { padding-bottom: 5em; }

		.advantages__title {
			padding-top: 3em;	
			width: 100%;
		}
		.advantages__title h2 {
			font-size: 4em;
		}

		.advantages__card {
			width: 33.333%;
			height: auto;
			/*min-height: 250px;*/
			display: flex;
		}
		.advantages__card .box i {
			float: left;
		}

		.advantages__card .box--two {
			margin-left: 2em;
		}

		.advantages .box,
		.advantages__title {
			padding: 1em 6px 30px 3em;
		}

		.advantages__title {
			padding-top: 3em;	
			width: 100%;
		}

		.advantages__header h3{
			margin-bottom: 6px;
			font-size: 17px;
			font-weight: bold;
			line-height: 100%;
			text-transform: uppercase;
		}
	@media screen and (max-width: 980px) {

		.advantages__card {
			width: 50%;
		}	
	}

	@media screen and (max-width: 736px) {

		.advantages__card {
			width: 50%;
		}
	}

	@media screen and (max-width: 480px) {

		.advantages__card {
			width: 100%;
		}
	}

/* Contact */
	.contact {
		width: 100%;
		height: auto;
		background: radial-gradient(rgba(65, 67, 69) 0%, #232526 100%);
		background: -webkit-radial-gradient(
			center, circle cover, rgba(35, 37, 38, 0.89) 0%, rgb(35, 37, 38) 100%);
	}

	.contact .inner { 
		padding-top: 4em;
		padding-bottom: 4em;
		justify-content: space-between;
		/*background-color: #F2B554;*/
	}

	.contact__data {
		/*background-color: #F2B554;*/
		font-size: 1.1em;
		padding-top: .9em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.contact__data h3 {
		/*background-color: #F2B554;*/
		padding-bottom: .8em;
		font-size: 2.5em;
		font-family: 'Gilroy Extra Bold';
	}
	
	.contact__form h3{
		/*background-color: #A4FA75;*/
		color: #444;
		font-size: 1.6em;
		padding-bottom: 1em;
	}

	.contact__form--inner {
		display: block;
		padding: 2em;
		border-radius: 3px;
		background-color: #fff;
	}

	.contact__data ul,
	.contact__form input {
		display: block;
	}

	.contact__form input,
	textarea {
		margin-bottom: 1em;
	}

	.contact__data ul:nth-of-type(1) {
		margin-bottom: 2em;
	}
	.contact__data ul:nth-of-type(2) {
		margin-bottom: 2.5em;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: rgba(212, 212, 255, 0.035);
		border: none;
		/*border-radius: 0;*/
		border-color: #9bf1ff;
		box-shadow: 0 0 0 1.3px rgba(68, 68, 68, 0.45);
    	border-radius: 1px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
		/* Disable resizable textarea */
		resize: none;

		font-family: Roboto, sans-serif;
		color: #444;
		font-size: .9em;
	}
		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		input[type="tel"]:invalid,
		input[type="search"]:invalid,
		input[type="url"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		input[type="tel"]:focus,
		input[type="search"]:focus,
		input[type="url"]:focus,
		select:focus,
		textarea:focus {
			border-color: #9bf1ff;
			box-shadow: 0 0 0 2px #9bf1ff;
		}

		input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	::-webkit-input-placeholder {
		color: #444 !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: #444 !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: #444 !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: #444 !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: #444 !important;
		opacity: 1.0;
	}


	/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #444;
		border: 0;
		border-radius: 0;
		box-shadow: inset 0 0 0 2px #ffffff;
		color: #ffffff;
		cursor: pointer;
		/*display: inline-block;*/
		font-size: 0.8em;
		font-weight: 600;
		height: 3.5em;
		letter-spacing: 0.25em;
		line-height: 3.5em;
		padding: 0 1.75em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}
		
		@media screen and (max-width: 980px) { 

			.contact__data,
			.contact__form {
				margin-left: 1.8em;
			}

			.contact__form {
				margin-right: 1.8em;	
			}
		}

		@media screen and (max-width: 480px) {
			
			.contact .inner { 
				align-self: center;
				justify-content: center;
				/*background-color: #F2B554;*/
			}

			.contact__data/*,
			.contact__form*/ {
				margin-left: 0;
				margin-right: 1.8em;	
				justify-content: center;
				align-items: center;
			}
		}

		

/* footer */

	.footer {
		color:#fff;
		background-color: #000;
	}
		.footer__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 2em;
			padding-bottom: 2em;
			border-bottom: 1px solid #fff;
		}

		.footer__content strong {
			margin-bottom: 2em;
		}
/*
		.footer__copyright {
			margin-right: auto;
					}
*/
		/*.footer__copy {
			padding: 0 4em;
			background-color: tomato;
		}*/

		.footer__copy > li {
			width: 33.3333%;
			margin-top: 2em;
			margin-bottom: 2em;
			text-align: center;
		}

		.footer_icons {
			justify-content: center;
			color: #fff;
		}



	@media screen and (max-width: 1280px) {

			

		}

		@media screen and (max-width: 980px) {

			

		}

		@media screen and (max-width: 736px) {
			
			.footer__copy > li {
				/*flex-direction: column;*/
				width: 100%;
				margin-bottom: 0;
			}
			.footer__copy {
				flex-direction: column;
			}

			.footer_copy:nth-child(3) {
				order: 1;
			}

		}







/* 1200px */
@media screen and (max-width: 1280px) {
	.services {
		background-color: tomato;
	}
}

@media screen and (max-width: 980px) {
	.services {
		background-color: gold;
	}
}

/* Portrait tablet to landscape and desktop - 768px */
@media screen and (max-width: 736px) { 
	.header section {
		display: flex;
		justify-content: center;
	}
	.header__content { 
		grid-template-columns: auto;
		grid-template-rows: 10% 25% 65%/*repeat(3, auto)*/;
		/*background-color: green;*/
	}
		.header__list {

		}
		.header__one {
			grid-column:1/2;
			grid-row:1/2;
		}

		.header__two {
			grid-column:1/2;
			grid-row:2/3;
		}

		.header__four {
			grid-column:1/2;
			grid-row:3/4;
		}
			.header__about {
				font-size: 1rem;
			}
			.header__about h1 {
				font-size: 2rem;
			}

			.header__about article {
				width: 75%;
				margin: auto;
			}
		.header__logo {

		}

	.services {
		background-color: green;
	}
}

/* 320px */
@media screen and (max-width: 480px) {
	
	.header section {
		display: flex;
		justify-content: center;
	}
	.header__content { 
		grid-template-columns: auto;
		grid-template-rows: 10% 25% 65%/*repeat(3, auto)*/;
		/*background-color: blue;*/
	}
		.header__one {
			grid-column:1/2;
			grid-row:1/2;
		}

		.header__two {
			grid-column:1/2;
			grid-row:2/3;
		}
			.header__item {
				margin-right: 2em;
			}

			.header__item:nth-child(3) {
				margin-right: 0;
			}

		.header__four {
			grid-column:1/2;
			grid-row:3/4;
		}
			.header__about {
				font-size: .9em;
			}
			.header__about h1 {
				font-size: 2rem;
			}

			.header__about article {
				width: 80%;
				margin: auto;
			}
	.services {
		background-color: blue;
	}
}