extends templates/template.pug

//- Asignando contenido al header.
block header 

block slider

//- Asignando contenido al main.
block main
	section
		h2 Que hago

	section
		h2 Contactar
		button Hola

//- Asignando contenido al footer.
block footer
	section
		p arriba
	section 
		p &copy; 2017 El super nombre
		p redes sociales
